matplotlib
pandas
numpy<2
seaborn
datetime
google-auth  # for google.colab.auth
google-auth-oauthlib  # for google.colab.auth
google-api-python-client  # for googleapiclient.discovery
Pillow  # for PIL.Image
statsmodels
altair
scipy
markdown
weasyprint
paramiko
ipdb  # for IPython.core.debugger
requests
google.generativeai
pmdarima
python-dotenv
IPython
habanero